html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.scanner_background {
    background-size: cover;
    background: url('../images/scanner_bg.png') no-repeat center center;
    height: 720px;
    margin-top: -102px;"
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
}

