
server/\.idea/

client/node_modules/*

client/\.idea/

client/\.build

client/\.dist

server/scanner/

server/venv/

\.idea/

node_modules/

**/__pycache__/**

*.log

client/wcscanner-linux-x64/

client/dist/

client/out/wcscanner-linux-x64/
